pkgbase = decky-loader-prerelease-bin
	pkgdesc = Unofficial Arch build of Decky Loader (pre-release), a homebrew plugin launcher for the Steam Deck.
	pkgver = 3.1.2_pre1
	pkgrel = 1
	url = https://github.com/SteamDeckHomebrew/decky-loader
	arch = x86_64
	license = MIT
	provides = decky-loader
	conflicts = decky-loader
	source = PluginLoader::https://github.com/SteamDeckHomebrew/decky-loader/releases/download/v3.1.2-pre1/PluginLoader
	source = decky-loader@.service::https://github.com/SteamDeckHomebrew/decky-loader/raw/v3.1.2-pre1/dist/plugin_loader-release.service
	source = decky-loader-helper
	sha256sums = 7326d4e5e260cf79abe52f3dd04392a1c5231c5165b9eee9fb8a364ed006d0af
	sha256sums = 64d6aa626aa45e1659e3137aa3afd72edd840094199d62bb6ff2e73c5ce738b1
	sha256sums = SKIP

pkgname = decky-loader-prerelease-bin
