pkgbase = decky-loader-bin
	pkgdesc = Unofficial Arch build of Decky Loader, a homebrew plugin launcher for the Steam Deck.
	pkgver = 3.0.5
	pkgrel = 4
	url = https://github.com/SteamDeckHomebrew/decky-loader
	arch = x86_64
	license = MIT
	provides = decky-loader
	conflicts = decky-loader
	source = PluginLoader::https://github.com/SteamDeckHomebrew/decky-loader/releases/download/v3.0.5/PluginLoader
	source = decky-loader@.service::https://github.com/SteamDeckHomebrew/decky-loader/raw/v3.0.5/dist/plugin_loader-release.service
	source = decky-loader-helper
	sha256sums = a8b7bd58ff0c0ac80f5c07e1fa13bee45f1bb17195283f4902a7930c40aba761
	sha256sums = 64d6aa626aa45e1659e3137aa3afd72edd840094199d62bb6ff2e73c5ce738b1
	sha256sums = SKIP

pkgname = decky-loader-bin
